
.google_signin {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #757575;
    border-radius: 0.25rem;
    padding: .5rem 1rem;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.google_signin:hover {
    background-color: #f8f8f8;
    color: #757575;
}

.google_signin:active {
    background-color: #e0e0e0;
}

.google_signin .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.625rem;
}

.google_signin .text {
    display: inline-block;
    vertical-align: middle;
}
.google__image {
    width: 1.25rem; /* 20px in rem */
    height: 1.25rem;
    margin-right: 0.625rem; /* 10px in rem */
}
